@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}


h2 {
  font-family: 'Noto Serif Old Uyghur', serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  color: black;
  margin-left: -50px;
}

a {
  text-transform: lowercase;
}

a:hover {
  font-weight: 500;
  letter-spacing: 2px;
}

.container-recipe {
  background-color: rgba(72, 157, 72, 0.565);
  padding: 60px;
  padding-top: 100px;
}

div.nutri-section {
  margin-top: 50px;
}

.nutri-box {
  background-color: rgba(221, 247, 221, 0.937);
  margin: 5px;
  height: 40px;
  padding-top: 2px;
  text-align: center;
  font-size: 12px;
}

.nutri-box p {
  font-weight: 700;
  letter-spacing: 1px;
}

.method-section {
  padding-top: 40px;
  padding-left: 15%;
  /* padding-right: 5%; */
}

.method {
  display: flex;
  margin-left: 100px;
}

.method-li li {
  margin-bottom: 20px;
}



.food-png {
  width: 60%;
}
