@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

h3 {
  font-family: 'Noto Serif Old Uyghur', serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
  color: black;
}

a {
  text-transform: lowercase;
}

a:hover {
  font-weight: 500;
  letter-spacing: 2px;
}
